html 
  head 
    title ejemplo2
    link(rel="stylesheet" href="style.css")
  body
    h1#mitag=titulo
    p.toplaner ejemplo de un tag con una clase definida
    p#miId.toplaner ejemplo de un tag con id y una clase    